:root {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Arial, Courier;

    /* Colors */
    --color-header: #092672;
    --color-header-text: silver;
    --color-subheader: #3c59a5;
    --color-subheader-text: #ffcc03;

    --color-normal-type: #a8a878;
    --color-fire-type: #f08030;
    --color-water-type: #6890f0;
    --color-grass-type: #78c850;
    --color-electric-type: #fbcf30;
    --color-ice-type: #98d8d8;
    --color-fighting-type: #b82d22;
    --color-poison-type: #a1409e;
    --color-ground-type: #dec06a;
    --color-flying-type: #a890f0;
    --color-psychic-type: #f75985;
    --color-bug-type: #a8b822;
    --color-rock-type: #b7a038;
    --color-ghost-type: #6f5898;
    --color-dragon-type: #6f38fd;
    --color-dark-type: #6f5848;
    --color-steel-type: #b9b8d0;
    --color-fairy-type: #ff9be1;
}

body {
    background-color: #ddd;
}

nav {
    background-color: var(--color-header);
    color: var(--color-header-text);
    font-family: Courier, monospace;
}

.navbar-brand {
    font-family: "Silkscreen";
}

h3 {
    background-color: var(--color-subheader);
    color: var(--color-subheader-text);
    margin-bottom: 0;
}

/* Pokemon TYPE Classes! (applied to modal)   */
.normal { border: 10px solid var(--color-normal-type); }
.fire { border: 10px solid var(--color-fire-type); }
.water { border: 10px solid var(--color-water-type); }
.grass { border: 10px solid var(--color-grass-type); }
.electric { border: 10px solid var(--color-electric-type); }
.ice { border: 10px solid var(--color-ice-type); }
.fighting { border: 10px solid var(--color-fighting-type); }
.poison { border: 10px solid var(--color-poison-type); }
.ground { border: 10px solid var(--color-ground-type); }
.flying { border: 10px solid var(--color-flying-type); }
.psychic { border: 10px solid var(--color-psychic-type); }
.bug { border: 10px solid var(--color-bug-type); }
.rock { border: 10px solid var(--color-rock-type); }
.ghost { border: 10px solid var(--color-ghost-type); }
.dragon { border: 10px solid var(--color-dragon-type); }
.dark { border: 10px solid var(--color-dark-type); }
.steel { border: 10px solid var(--color-steel-type); }
.fairy { border: 10px solid var(--color-fairy-type); }

.borderW-3px {
    border-width: 3px;
}
